# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyo
*.pyd

# C extensions
*.so

# Virtual environment
venv/
env/
.virtualenv/

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Logs and databases
*.log
*.sqlite3
*.db

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
*.cover
*.py,cover
.hypothesis/

# Editor and IDE files
.idea/
.vscode/
*.swp
*.swo
*.swn

# Operating system files
.DS_Store
Thumbs.db

# Node.js dependencies
node_modules/

# Docker
*.env
*.env.local
.dockerignore


# Google credentials or sensitive files
spry-tesla-437903-t1-d7b4ecb5f3d8.json